.DS_Store
.Rhistory

## intermediate files that are larger than github's size limit
data/E2A/E2A_normgated_data_corrected.csv
data/individual_CRISPRi/CRISPRi_protein/crispri_normgated_data_bg_corrected.csv
data/individual_CRISPRi/growth_defect_controls/crispri_growth_defect_controls_normgated_data.csv
data/stemloop/SL_protein/normgated_data_bg_corrected.csv
data/endogenous/